@import '../variables.scss';

.sprint-start-btn {
  background-color: $primary-color;
  width: 300px;
  height: 80px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  &:hover {
    border: 1px solid rgba(255, 255, 255, 1);
  }
}

.sprint-level {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #ffffff;
  cursor: pointer;
  transition: 0.4s all;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
  &.active {
    border: 2px solid #ffffff;
  }
  &:hover {
    transform: scale(1.1);
  }
  &:first-child {
    background-color: #E846FF;
  }
  &:nth-child(2) {
    background-color: #D342E8;
  }
  &:nth-child(3) {
    background-color: #AF37C0;
  }
  &:nth-child(4) {
    background-color: #892D97;
  }
  &:nth-child(5) {
    background-color: #631F6C;
  }
  &:nth-child(6) {
    background-color: #4B1952;
  }
}

.sprint-word-btns button {
  width: 150px;
  height: 50px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  border-radius: 15px;
}

.sprint-word-wrong {
  background-color: rgb(191, 22, 22);
  margin-right: 20px;
}

.sprint-word-right {
  background-color: rgb(24, 185, 24);
}

.result-btns {
  display: flex;
  column-gap: 20px;
  button {
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    border-radius: 15px;
    background-color: $primary-color;
    border: 1px solid rgba(255, 255, 255, 1);
  }
}
