.sprint-result-content {
  min-width: 60%;
  margin-bottom: 40px;
  span {
    padding-top: 4px;
    display: block;
    width: 50px;
    height: 30px;
    margin-left: 20px;
    color: white;
    border-radius: 15px;
    &#count-sprint-result-mistakes {
      background-color: rgb(191, 22, 22);
    }
    &#count-sprint-result-correct {
      background-color: rgb(24, 185, 24);
    }
  }
  hr {
    height: 3px;
    margin: 20px 0;
    background-color: white;
  }
}

.sprint-result-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.result-word {
  display: flex;
  align-items: center;
  column-gap: 20px;
  div {
    &:first-child {
      width: 40px;
      height: 40px;
      background-image: url('assets/svg/volume.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }

  }
}

.sprint-result-verdict {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}
