.main-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('assets/images/main-bg-img.png');
  background-position: center right;
  background-size: 700px 400px;
  background-repeat: no-repeat;
  &:before {
    position: absolute;
    content: '';
    top: -90%;
    right: -50%;
    width: 1500px;
    height: 1500px;
    background:  linear-gradient(to right, $primary-color, $auxiliary-color);
    border-radius: 5%;
    transform: rotate(-65deg);
    z-index: -1;
  }
}
