.promo {
  padding: 120px 0 60px 0;
  min-height: calc(100vh - 120px);
  &-title {
    font-size: 5rem;
    line-height: 6.25rem;
    font-family: 'Righteous';
    color: #424242;
  }
  &-descr {
    margin-top: 20px;
    p{
      margin-top: 10px;
    }
    span {
      color: $primary-color;
      @media (max-width: 768px) {
        color: #424242;
        font-size: 2rem;
        text-decoration: underline;
      }
    }
  }
  &-btn {
    margin-top: 60px;
    width: 18.75rem;
  }
  &.hidden {
    display: none;
  }
  @media (max-width: 768px) {
    padding: 160px 0 0 0;
    min-height: calc(100vh - 162px);
    text-align: center;
  }
}
