
@import './variables.scss';
@import './main.scss';
@import './promo.scss';
@import './header.scss';
@import './footer.scss';
@import './dictionary.scss';
@import './authentification.scss';
@import './audiocall/style.scss';
@import './sprint/style.scss';
@import './statistics/style.scss';
@import './developers/style.scss';

// .container {
//   max-width: 1440px;
//   margin: 0 auto;
// }

.btn {
  position: relative;
  padding: 4px 8px;
  line-height: 4rem;
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 20px;
  font-size: 2rem;
  color: #ffffff;
  background-color: $primary-color;
  cursor: pointer;
  transition: .4s all;
  &:hover{
    background-color: $auxiliary-color;
  }
  &:active {
    top:2px;
  }
}

// .hidden {
//   display: none;
// }
